.stopwatch {
    text-align: center;
    margin: 50px auto;
}

.display {
    font-size: 36px;
    font-weight: bold;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
}

#lap-times {
    margin-top: 20px;
}
